<form>
  <div id="ui">
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
    <div class="text">PIRATEPEDIA</div>
  </div>
  <h1>PIRATEPEDIA</h1>
  <input type="text" id="searchQuery" (keyup)="onKey($event)"><br>
  <input type="button" value="Search" (click)="onSearch()">
  <input type="reset" value="Clear">
  <p>{{searchQuery}}</p>


</form>

